{% extends "task/base.html" %}
{% block content %}
{#    <div></div>#}
    {% for category in categories %}
        <article class="media content-section">

          <div class="media-body">
{#            <div class="article-metadata">#}
{#              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>#}
{#              <small class="text-muted">{{ website.date_added |date:"F d, Y"}}</small>#}
{#            </div>#}
              <h2><a class=category-title>{{ category }}</a></h2>
              <a class=category-title" href="{% url 'category-detail' category %}">Click here for more details about {{ category }}</a>
              <a class=category-qty">Number of websites within category: {{ category.count }}</a>
{#            <p class="website-meta">{{ website.meta }}</p>#}
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
