{% extends "task/base.html" %}
{% block content %}
    {% for website in websites %}
        <article class="media content-section">

          <div class="media-body">
              <a class="btn btn-outline-secondary" href="{% url 'categories-view' %}">
                    Return to all categories
                </a>
{#            <div class="article-metadata">#}
{#              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>#}
{#              <small class="text-muted">{{ website.date_added |date:"F d, Y"}}</small>#}
{#            </div>#}
              <h3><a class=category-title>Website's URL:{{ website.url }}</a></h3>
              <h3><a class=category-title>Website's Alexa Rank: {{ website.alexa_rank }}</a></h3>
{#            <h2><a class=category-title" href="{% url 'index'  category %}">{{ category }}</a></h2>#}
{#            <p class="website-meta">{{ website.url }}</p>#}
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
