{% extends "task/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <p class="article-content">Created plan: {{ cd }}</p>
          </div>
        </article>
{% endblock content %}