{% extends "task/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <article class="media content-section">
          <div class="media-body">
            <h2><p class="article-title">Welcome to the test planner {{ name }}.</p></h2>
            <p class="article-content">Created cfids: {{ answer }}
                Please fill in every split according to your requirements</p>
          </div>
        </article>
{% endblock content %}