{% extends "task/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"></legend>
                {{ category_chooser|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">
                    Choose category
                </button>
                <button class="btn btn-outline-info" type="reset">
                    Reset
                </button>
                </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                Need help? <a class="ml-2" href="">Help Page</a>
            </small>
        </div>
    </div>
    {% for website in websites %}
        <article class="media content-section">

          <div class="media-body">
            <div class="article-metadata">
{#              <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>#}
{#              <small class="text-muted">{{ website.date_added |date:"F d, Y"}}</small>#}
            </div>
            <h2><a class=website-title">{{ website.url }}</a></h2>
            <p class="website-meta">About this website: {{ website.meta }}</p>
              <p class="website-rank">Alexa rank is: {{ website.alexa_rank }}</p>
            <a class="website-category" href="{% url 'category-detail' website.category.name %}">{{ website.category.name }}</a>
          </div>
        </article>
    {% endfor %}
    {% if is_paginated %}

      {% if page_obj.has_previous %}
        <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      {% endif %}

      {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
          <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
          <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
        {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
        <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
      {% endif %}

    {% endif %}
{% endblock content %}
