{% extends "task/base.html" %}
{% block content %}
        <article class="media content-section">
{#        <img class="rounded-circle article-img" src="{{ object.author.profile.image.url }}">#}
          <div class="media-body">
            <div class="article-metadata">
{#              <a class="mr-2" href="{% url 'user-posts' object.author.username %}">{{ object.author }}</a>#}
              <small class="text-muted">{{ object.date_posted |date:"F d, Y"}}</small>
            </div>
            <h2 class="website-title">{{ object.title }}</h2>
            <p class="website-meta">{{ object.content }}</p>
          </div>
        </article>
{% endblock content %}